* {
    box-sizing: border-box;
}

.leftdropdown {
    margin-bottom: 20px;
}

.menubtn {
    background-color: white;
}

.leftmenu {
    font-size: 20px;
}

.dropdown button {
    font-size: 25px;
}

.card {
    margin-bottom: 15px;
}

.card:hover {
    box-shadow: 5px 5px 20px 5px rgba(104, 102, 102, 0.8);
    /**陰影**/
    /* filter: brightness(1.5);*/
}

#Test {
    width: 100%;
    height: auto;
}